# Project exclude paths
/.gradle/
/.idea
/gradle/
/sample/rich-example/.gradle/
/sample/rich-example/gradle/wrapper/
/sample/scala-cucumber/out/
/sample/scala-cucumber/.gradle/
/sample/scala-cucumber/gradle/wrapper/
